[submodule "prefs/vim/bundle/vim-polyglot"]
	path = prefs/vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "prefs/vim/bundle/command-t"]
	path = prefs/vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "prefs/vim/bundle/ale"]
	path = prefs/vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule "prefs/vim/bundle/vim-mucomplete"]
	path = prefs/vim/bundle/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
